$regulartext-color: #060A24;
$secondary-color: #0000ec;
$angularbackground-color: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$adicionaltext-color: #fff;
$buttonbefore-color: #00F3BB; 
$buttonafter-color: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$font-weights: ("regular": 400, "medium": 500, "bold": 600);
$breakpoint-tablet: 768px;

* {
	margin: 0;
	padding: 0;
	border: 0;
}

//Nav Bar

.logo-container {
	width: 24px;
	height: 24px;
	padding: 10px 16px;
}

.hamburger {
	display: inline-block;
	padding: 10px 19px;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	position: relative;
}

#chk-nav-bar {
	display: none;
}

.menu-options {
	display: none;
	justify-self: flex-start;
	position: absolute;
	top: 44px;
	width: 100%;

	li {
		list-style-type: none;
		padding: 12px 16px;
		text-transform: uppercase;
		background-color: $secondary-color;
		color: $adicionaltext-color;
	}
	&-links {
		font-family: "IBM Plex Mono", monospace;
		font-size: 16px;
		color: $adicionaltext-color;
		letter-spacing: 0;
		line-height: 28px;
		text-decoration: none;

		&:hover {
			color: $buttonbefore-color;
		}
	} 
}

.burger-close {
	display: none;
	padding: 10px 19px;
}

#chk-nav-bar:checked ~ #burger-open {
	display: none;
}

#chk-nav-bar:checked ~ .menu-options,
#chk-nav-bar:checked ~ #burger-close {
	display: block;
}

//Welcome section
.welcome {
	margin: 29px 16px 24px 16px;

	&-title {
		font-family: "IBM Plex Sans", monospace;
		font-size: 36px;
		color: $regulartext-color;
		letter-spacing: 0px;
		line-height: 42px;
	}
	&-description {
		margin-top: 16px;
	}
	&-button {
		margin: 36px auto 36px auto;
		width: 90%;
		height: 48px;
		border: none;
		background-color: $buttonbefore-color;
		font-family: "IBM Plex Mono", monospace;
		font-weight: map-get($font-weights, medium);
		font-size: 16px;
		letter-spacing: 0px;
		line-height: 22px;
		&:hover {
			background-image: $buttonafter-color;
		}
	}
}

.wcbcontainer {
	max-width: 100%;
	text-align: center;
}

.episode-backgound {
	&-top {
		position: absolute;
		top: 0;
		width: 100%;
		height: 10vw;
	}

	&-bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 10vw;
	}
}

/* Episode section */

.angular {
	&-background {
		background-image: $angularbackground-color;
		padding: 60px 0px 160px 0px;
		width: 100%;
		transform: skew(0deg, -5deg);    
	}
	&-content {
		margin: 0 auto;
		width: 95%;
		h2 {
			font-family: 'IBM Plex Sans', sans-serif;
			font-size: 36px;
			color: $adicionaltext-color;
			letter-spacing: 0;
			line-height: 42px;
			margin-bottom: 22px;
			margin-left: 10px;
			font-weight: map-get($font-weights, regular);
		}    
	}
}

.unskew {
	transform: skew(0deg, 5deg)
}

.episodewrap {
	display: flex;
	flex: {
		wrap: wrap;
		direction: column;
	};
	justify-content: space-evenly;
	align-items: center;
}

.framesty {
	width: 298px;
}

.episode {
	margin: 10px 0;  
}

.ddwrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgph {
	height: 519px;
	width: 360px;
	position: relative;
	top: -100px;
}

.containerwrap {
	&wrap {
		margin-top: -60px;
	}
	&1 {
		width: 288px;
		h2 {
			font-family: 'IBM Plex Mono', monospace;
			font-weight: map-get($font-weights, regular);
			font-size: 36px;
			color: $regulartext-color;
			letter-spacing: 0;
			line-height: 42px;
		}
	}
	&2 {
		width: 288px;
		height: 254px;
	
		p {
		font-family: 'IBM Plex Mono', monospace;
		font-size: 14px;
		color: $regulartext-color;
		letter-spacing: 0;
		line-height: 22px;
		}
	}
}

.invest {
	margin: 22px;
	h2 {
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: map-get($font-weights, regular);
		font-size: 48px;
		color: $regulartext-color;
		letter-spacing: 0;
	}
}
.gallerywrap {
	display: flex;
	flex-direction: column;
	img {
		width: 100%;
	}
}
.ntems {
	margin: 26px 20px;
	width: 288px;
	h2 {
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 36px;
		color: $regulartext-color;
		letter-spacing: 0;
		line-height: 42px;
		font-weight: map-get($font-weights, regular);
	}
}
.theme {
	&wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&item {
		width: 175px;
		margin: 22px auto;
		text-align: center;
	}

}

.icontext {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: map-get($font-weights, bold);
	font-size: 24px;
	color: $regulartext-color;
	letter-spacing: 0;
	text-align: center;
}
.square-background {
	clip-path: polygon(0 31%, 100% 14%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0 31%, 100% 14%, 100% 100%, 0% 100%);
	background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
	height: 398px;
}
.text-container {
	display: flex;
	flex-direction: column;
	padding-top: 170px;
	h2 {
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: map-get($font-weights, regular);
		font-size: 36px;
		color: $adicionaltext-color;
		letter-spacing: 0;
		text-align: center;
		line-height: 42px;
	}
}
.nov-button {
	margin: 36px auto 36px auto;
	width: 70%;
	height: 49px;
	border: none;
	background-color: $buttonbefore-color;
	font-family: "IBM Plex Mono", monospace;
	font-weight: map-get($font-weights, medium);
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 22px;
	&:hover {
		background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
	}
}

.footertext {
	font-family: "IBM Plex Mono", monospace;
	font-size: 16px;
	color: $regulartext-color;
	letter-spacing: 0;
	line-height: 28px;

	&container {
		margin: 20px auto 10px auto;
		width: 64%;
		text-align: center;
	}
}
.social {
	&container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 77%;
		margin: 0 auto 45px auto;
	}
	&icon {
		font-size: 16px;
		color: $regulartext-color;
		letter-spacing: 0;
		line-height: 28px;
	}
} 
@media only screen and (min-width: $breakpoint-tablet) {
	#buger-close {
		display: none;
	}
	#burger-open {
		display: none;
	}
	.menu-options {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0px;
		right: 100px;
		li {
			list-style-type: none;
			padding: 12px 16px;
			text-transform: uppercase;
			background-color: transparent;
			display: flex;
		}
		&-links {
			font-family: "IBM Plex Mono", monospace;
			font-size: 16px;
			letter-spacing: 0px;
			line-height: 28px;
			text-decoration: none;
			color: $regulartext-color;
		}
	}
	.welcome {
		margin: 120px 0px 0px 200px;
		&-title {
			font-family: "IBM Plex Sans", monospace;
			font-size: 36px;
			color: $regulartext-color;
			letter-spacing: 0px;
			line-height: 42px;
		}

		&-description {
			margin-top: 16px;
			width: 628px;
		}
		&-button {
			margin-top: 56px;
			width: 226px;
			height: 56px;
			border: none;
			background-color: $buttonbefore-color;
			font-family: "IBM Plex Mono", monospace;
			font-size: 18px;
			letter-spacing: 0px;
			line-height: 24px;
		}
	}

	.wcbcontainer {
		max-width: 100%;
		text-align: left;
	}
	.episodewrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.framesty {
		width: 584px;
		height: 232px;
		margin-top: 10px;
	}
	.ddwrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.imgph {
		margin-right: 50px;
	}
	.containerwrap {
		&wrap {
			margin-top: -60px;
			margin-left: -60px;
		}
		&1 {
			width: 464px;
		}
		&2 {
			width: 464px;
		}	
	}
	.gallerywrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		img {
			width: 33.3%;
			flex: 1;
		}
	}
	.invest {
		margin: -44px auto 30px auto;
		width: 80%;
	}
	.theme {
		&wrap {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		&item {
			width: 175px;
			margin: 22px 40px;
			text-align: center;
		}
	}
 
	.ntems {
		width: 70%;
		margin: 45px auto 15px auto;
	}
	.nov-button {
		width: 25%;
	}
	.footerflex {
		display: flex;
		flex-direction: row;
		margin: 30px 30px 20px 30px;
	}
	.socialcontainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40%;
		margin: 0;
	}
	.footertextcontainer {
		width: 60%;
		margin: 0;
		text-align: left;
	}
}
